@import "tailwindcss";

@theme {
  --color-white: #F4F4F4;
  --color-black: #111111;
  --color-red: #961B27;
  --color-green: #961B27;
  --color-blue: #03204C;
  --color-grey: #555555;
}

/* FOR DEBUG */
* {
  border: 1px solid red;
}